/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles start here:       */

body{
  background-color: #005500;
}

h1{
  font-size: 4rem;
  font-family: Helvetica;
  margin: .5rem auto;
  color: linen;
}

p{
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: Helvetica;
    color: linen;
  }

.page{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.dog-card{
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 5px dotted white;
  border-radius: 50px;
}

.text{
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-family: Helvetica;
  color: linen;
}

img{
  max-width: 200px;
  padding: 1rem;
}

.tenpix{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hidden{
  display: none;
}

.nav{
  background-color: darkred;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.navlink{
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: Helvetica;
}

@media only screen and (max-width: 1070px){

  .dog-card{
    margin: 2rem auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 5px dotted white;
    border-radius: 50px;
  }

  .navlink{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: auto 2rem;
    font-family: Helvetica;
    font-size: 1.5rem;
    margin: .2rem;
  }

}

@media only screen and (max-width: 747px){

  .dog-card{
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 5px dotted white;
    border-radius: 50px;
  }

  .nav{
    background-color: darkred;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    justify-content: center;
    align-items: center;
  }

  .navlink{
    color: white;
    text-decoration: none;
    margin: auto 1rem;
    font-family: Helvetica;
    font-size: 1.5rem;
    margin: .2rem;
  }

}